

<p>
  <strong>Image:</strong>
  <%= image_tag @picture.image.url,style:'width:400px;height:240px' %>
</p>

<p>
  <strong>Content:</strong>
  <%= @picture.content %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
